* {   
    padding: 0;
  }

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background:radial-gradient(circle, #e8eff3 0%, #6da1be 100%);
}

header{
    color:#343536;
    background-color:#ffffff;
    padding: 30px;
    letter-spacing: 3px;
    word-spacing:8px;
    font-size:40px;
    border-bottom: 3px solid #343536;
    text-transform:capitalize;
}

.header{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

nav ul{
    display:flex;
    align-items:flex-end; 
    list-style-type:none;
    margin-top:15px;
    margin-bottom:15px;
    }

a.button{
    color:white;
    letter-spacing:3px;
    border:2px solid #444446;
    background-color: #444446;
    border-radius:10px;
    padding:10px;
    margin-right:15px;
    font-size: 15px;
    margin-left:40px;
}

a.button:hover{
    cursor:pointer;
    border:3px solid #ffffff;
    background-color:#5e5e61;
    color:white;
    text-decoration:none;
    font-size: 17px;
}

h2::before{
    content:"|";
    font-size:30px;
    margin-right:5px;
    margin-left:50px;
}

h2{
    margin:10px 0px 0px 70px;
    padding-top: 40px;
    padding-bottom: 10px;
    letter-spacing:3px;
    text-transform:uppercase;
}

section{
    margin-top:20px;
    margin-bottom:65px; 
}

section ul{
    text-decoration:none;
}


.container{
    /* display:flex;
    align-items:center; */
    background-color:#e8eff3;
    border-radius:10px;
    padding:30px;
    align-items:center;
}

/* div.flex-container{
    display:flex;
} */
.card{
    margin-top:10px;
}

div.card{
   border-radius: 10px;
}

div.card:hover{
   transform:scale(1.05)
}
.morning{
    margin-top:100px;
}


section p{
    font-size:23px;
    margin-top:18px;
    margin-bottom:20px;
}

section img{
    border:3px solid #e4e1e1;   
    border-radius: 10px; 
    margin-left:50px;
}

.container ul{
    list-style-type:none;
}

 .contact img{
    width: 64px;
    height: 64px;
 }

 .contact div li{
    padding-right:20px;
    padding-left:20px;
 }

 #portrait{
     float:left;
     margin-right:10px;
 }

footer{
    text-align:center;
    margin-top:30px;
    background:white;
    padding:10px;
    border-top: 3px solid #969696;
}

/*Media queery for responsive design*/
/* @media screen and (max-width: 1200px){
    .flex-container{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
   
} */
@media screen and (max-width: 992px) {
   header{
       text-align:center;
   } 
    
    nav ul {
        flex-direction:column;
        justify-items:center;
        align-items:center;
       } 

    .flex-container{
        flex-direction: column;
        align-items:center;
    }

   body{
       max-width:100%;
   }
   .flex-container{
       flex-direction:column;
   }
}
@media screen and (max-width: 768px) {
    header {
        flex-direction:column;
           } 
    
    body{
        max-width:100%;
    }

    .flex-container{
        flex-direction:column;
        text-align:center;
    }

    } */