* {
    font-family: 'Quicksand'
}

#body {
    background-color: white;
    text-decoration:none;
}

#header-style { 
    margin-bottom: 0; 
}

h2 {
    margin-left:5%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 200px;
    text-align: center;
    border-radius: 1px;
}

#name-text {
    color: #e9e9e9;
    font-weight:1000;
    font-size: 50px;
    padding: 20px;
    border-radius: 8px;
    background-color: #201f1e;
    margin-top: 20px;
}

#header-style {
    background-image: url('../images/background-triangle.jpg');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar { 
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    margin-bottom: 5%;
} 

#yellow-text:hover {
    color: rgb(190, 149, 34);
}

.nav-link:hover {
    color: rgb(190, 149, 34);
}

.card {
    height: 100%;
}

#header-1 {
    background-color: #852a2a;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

#section-row {
    border-radius: 8px;
    padding:50px;
    margin-bottom: 2%;
}

#about-me {
    width:100%;
}

#about-me-text {
    background-color: #5e7783 ;
    color:#e0e6e6;
}

#bio-text {
    font-size: 20px;
    margin-top: 5%;
}

#portrait {
    float:left;
    object-fit: cover;
    height: 200px;
    width: 185px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgb(4, 0, 65);
    margin-right:7%;
    margin-top: 5%;
    margin-bottom:3%;
}

p {
    margin-left:2%;
    color:black
}

p:hover {
    text-decoration:none;
}

.logo {
    padding: 8px;
    margin: 3px;
}

#pdf-logo {
    width: 20%;
    margin-left: 40%;
}

#header-2 {
    background-color: #ca9635;
    color: white;
    margin-bottom:10px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.project-tech-1 {
    font-size:18px;
    font-weight: bolder;
}

.project-tech-1:hover {
    color: rgb(117, 117, 117);
    text-decoration: none;
}

p.project-tech {
    text-decoration: none
}

.project-tech {
    font-size:13px;
    font-weight: bolder;
}

.card a:hover {
    color: rgb(158, 158, 158);
    text-decoration: none;
}

.outline {
    align-self:center;
    margin-bottom:10px;
}

.contact {
    margin-top: 20px;
}

.contact img{
    width: 64px;
    height: 64px;
 }

 .contact div li{
    padding-right:20px;
    padding-left:20px;
}

li {
    list-style-type: none;
}

footer{
    text-align:center;
    margin-top:30px;
    background:white;
    padding:10px;
    border-top: 2px solid black;
}